body {
    background-color: #000;
    color: #949494;
}
li {
    display: inline;

     }
a:hover {
    color:#de3926;
}
a:visited{
    color: blue;
}
a {
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
}
div {
    /* text-align: center; */
    color: rgb(202, 136, 4);
    /* display: inline; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
     


}

nav {
background-color: rgb(202, 136, 4);
border: 2px black solid;
font-family: 'Times New Roman', Times, serif;

}
footer {
background-color: rgb(202, 136, 4);
border: 2px black solid;
font-family: 'Times New Roman', Times, serif;
}
img
{
    height: 240px;
    width: 240px;
    display: inline;
    position: relative;;
}
body > a  {
    color: gray;
}
h2 {
    background-color: rgb(202, 136, 4);
    color: #000;
}
p {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
}
.texte {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;

}